body {
  font-family: "Open Sans", sans-serif;
  font-family: "Jost", sans-serif;
}

form {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-family: "Jost", sans-serif;
  background-color: rgb(238, 238, 238);
}

form div {
  margin: 60px 20px;
}

form button {
  margin: 60px 0px 0px 15px;
}

.main-btn {
  width: 12%;
  height: 40px;
}

.check-input {
  /* display: inline-block; */
  margin-top: 130px;
}

@media (max-width: 900px) {
  .search {
    display: none;
  }

  .section1 {
    margin-top: 100px !important;
  }
}