* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Jost", sans-serif;
}

/* 
nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

nav h2 {
  color: aliceblue;
  font-family: 'nexa';
  margin-top: 12px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-top: 14px;
  list-style: none;
  font-family: 'nexa';
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
} */

.span-header {
  color: #ff9b71;
}

.header-site {
  text-align: center;
  height: 520px;
  background-image: linear-gradient(
      rgba(42, 42, 42, 0.8),
      rgba(42, 42, 42, 0.8)
    ),
    url("/img/ralph-kayden-2d4lAQAlbDA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-site h1 {
  display: inline-block;
  text-align: center;
  color: aliceblue;
  font-family: "Lato", sans-serif;
  font-weight: ;
  margin-top: 170px;
  font-size: 50px;
}

.header-site p {
  color: aliceblue;
  font-family: "Lato", sans-serif;

  font-size: 17px;
}
/* 
.header-site button {
  margin-top: -20px;
} */

.btn-danger {
  background-color: #ef233c;
  color: white;
  padding: 6px 12px;
  outline: none;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
}

.btn {
  font-family: "Lato", sans-serif;
}

.download img {
  width: 5%;
  cursor: pointer;
}

.main-btn {
  width: 20%;
  height: 50px;
}

.infos-container {
  width: 95%;
  margin: auto;
  height: 50vh;
}

.infos {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.info {
  padding: 30px;
}

.info img {
  margin: 50px 0px 20px 0px;
  width: 15%;
}

.counters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.counters > div {
  margin-top: 100px;
}

.counters-section {
  background-color: rgb(238, 238, 238);
  height: 50vh;
}

.counters img {
  width: 15%;
}

.counters > div > h4 {
  margin: 15px auto;
}

.counters > div > h1 {
  color: #ef233c;
}

/* --------- Contact---------- */
/* .bg-image > img {
  position: absolute;
  height: 40%;
  border-radius: 50%;
  margin: 120px auto;
} */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  /* background-image: url('/img/tim-van-der-kuip-CPs2X8JYmS8-unsplash.jpg'); */
  background-image: linear-gradient(
      rgba(42, 42, 42, 0.7),
      rgba(42, 42, 42, 0.7)
    ),
    url("/img/tim-van-der-kuip-CPs2X8JYmS8-unsplash.jpg");
  background-size: cover;
  background-position: right;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/* ----------- Footer ------------- */

@media only screen and (max-device-width: 1366px) {
  .header-site {
    background-attachment: fixed;
  }
}

/* ----------- Tablet responsiveness ----------- */

@media (max-width: 1200px) {
  /* body {
    background-color: #FF9B71;
  } */
  .header-site h1 {
    font-size: 47px;
  }

  .header-site p {
    color: aliceblue;
    font-family: "Lato", sans-serif;
    font-size: 17px;
  }

  .btn-danger {
    background-color: #ef233c;
    color: white;
    padding: 6px 12px;
    outline: none;
    border: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .nav-signin {
    display: inline-block;
    padding: 4px 0px !important;
  }

  .main-btn {
    width: 30%;
    height: 50px;
  }

  .counters > div > h4 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .header-site h1 {
    font-size: 38px;
  }

  .header-site p {
    color: aliceblue;
    font-family: "Lato", sans-serif;
    font-size: 15px;
  }

  .main-btn {
    width: 40%;
    height: 40px;
  }

  .counters {
    display: flex;
    flex-direction: column;
  }

  .counters-section {
    height: 120vh;
  }

  .counters > div {
    margin-top: 70px;
  }

  .info {
    padding: 15px;
  }

  .info h4 {
    font-size: 20px;
  }

  .info img {
    width: 35%;
  }

  .info p {
    display: none;
  }

  .infos-container {
    height: 40vh;
  }

  .card {
    width: 70%;
    margin: 0 auto;
  }

  /* .counters > div > h4 {
      font-size: 20px;
    }

    .counters > div > h1 {
      font-size: 30px;
    } */
}
